@font-face {
  font-family: 'Soyuz';
  src: url(./assets/fonts/SoyuzGroteskBold.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Black';
  src: url(./assets/fonts/SteppeTrial-Black-BF64acc0f335a5f.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Bold';
  src: url(./assets/fonts/SteppeTrial-Bold-BF64acc0ece3a00.ttf);
}

@font-face {
  font-family: 'SteppeTrial-ExtraBold';
  src: url(./assets/fonts/SteppeTrial-ExtraBold-BF64acc0ed660d5.ttf);
}

@font-face {
  font-family: 'SteppeTrial-ExtraLight';
  src: url(./assets/fonts/SteppeTrial-ExtraLight-BF64acc0ed77acb.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Light';
  src: url(./assets/fonts/SteppeTrial-Light-BF64acc0ed7e053.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Medium';
  src: url(./assets/fonts/SteppeTrial-Medium-BF64acc0eda297d.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Regular';
  src: url(./assets/fonts/SteppeTrial-Regular-BF64acc0eda3b9f.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Semibold';
  src: url(./assets/fonts/SteppeTrial-SemiBold-BF64acc0ed87581.ttf);
}

@font-face {
  font-family: 'SteppeTrial-Thin';
  src: url(./assets/fonts/SteppeTrial-Thin-BF64acc0ed7f225.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'SteppeTrial-Regular';
  color: #2b2b2b;
  background-color: #f6f8fc;
}

* a {
  text-decoration: none;
  letter-spacing: 1px;
}

h4,
h5,
h6 {
  font-family: 'SteppeTrial-Medium';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  flex: 1 1 0%;
  text-align: start;
}

.page-wrapper {
  position: relative;
}

.page-wrapper .page-body-wrapper {
  background-color: #f6f8fc;
}

@media only screen and (max-width: 1199px) {
  .page-body-wrapper .page-body,
  .page-body-wrapper footer {
    margin-left: 0 !important;
  }
}

.page-wrapper .page-body-wrapper .page-body {
  min-height: calc(100vh - 136px);
  margin-top: 136px;
  padding: 0 15px 0 15px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-wrapper.compact-wrapper .page-body-wrapper .page-body {
  min-height: calc(100vh);
  /* margin-top: 92px; */
  padding-top: 30px;
  margin-left: 280px;
}

@media only screen and (max-width: 1199px) {
  .page-wrapper.compact-wrapper .page-body-wrapper .page-body {
    /* margin-top: 90px; */
    padding: 0 15px;
  }
}

.page-wrapper.compact-wrapper .page-body-wrapper .page-body {
  /* margin-top: 90px; */
  padding: 0 15px;
  margin-left: 0 !important;
  margin-top: 0;
}

.page-wrapper .page-body-wrapper .page-title .row h3 {
  font-size: 24px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.page-wrapper .page-body-wrapper .page-title {
  padding-bottom: 30px;
}

h4 {
  font-size: 26px;
  font-weight: 700;
}

@media only screen and (max-width: 991px) {
  h4 {
    font-size: 22px;
  }
}

.card-header h4 {
  text-align: left;
}

.card .card-header h4 {
  font-size: 20px;
  color: #2b2b2b;
}

.card .card-header h4:not(.mb-0),
.card .card-header h4:not(.m-0) {
  margin-bottom: 0;
  text-transform: capitalize;
}

.jsgrid {
  position: relative;
  overflow: hidden;
  font-size: 1em;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  :after {
    box-sizing: border-box;
  }

  :before {
    box-sizing: border-box;
  }

  input {
    font-size: 1em;
  }

  select {
    font-size: 1em;
  }

  textarea {
    font-size: 1em;
  }
}

.jsgrid-grid-header {
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
}

.jsgrid-grid-body {
  overflow-x: auto;
  overflow-y: scroll;
}

.jsgrid-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.jsgrid-cell {
  padding: 0.5em;
}

.jsgrid-header-cell {
  box-sizing: border-box;
  padding: 0.5em;
}

.jsgrid-Ñell {
  box-sizing: border-box;
}

.jsgrid-align-left {
  text-align: left;
}

.jsgrid-align-center {
  text-align: center;

  input {
    text-align: center;
  }

  select {
    text-align: center;
  }

  textarea {
    text-align: center;
  }
}

.jsgrid-align-right {
  text-align: right;

  input {
    text-align: right;
  }

  select {
    text-align: right;
  }

  textarea {
    text-align: right;
  }
}

.jsgrid-edit-row {
  input {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  select {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  textarea {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  input[type='checkbox'] {
    width: auto;
  }
}

.jsgrid-filter-row {
  input {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  select {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  textarea {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  input[type='checkbox'] {
    width: auto;
  }
}

.jsgrid-insert-row {
  input {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  select {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  textarea {
    width: 100%;
    padding: 0.3em 0.5em;
  }

  input[type='checkbox'] {
    width: auto;
  }
}

.jsgrid-header-sort {
  cursor: pointer;
}

.jsgrid-pager {
  padding: 0.5em 0;
}

.jsgrid-pager-nav-button {
  padding: 0.2em 0.6em;
}

.jsgrid-pager-nav-inactive-button {
  display: none;
  pointer-events: none;
}

.jsgrid-pager-page {
  padding: 0.2em 0.6em;
}

.jsgrid-selected-row .jsgrid-cell {
  cursor: pointer;
}

.jsgrid-nodata-row .jsgrid-cell {
  padding: 0.5em 0;
  text-align: center;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

.page-wrapper .page-body-wrapper .page-title .breadcrumb {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.page-wrapper .page-body-wrapper .page-title .breadcrumb .breadcrumb-item a {
  color: #2b2b2b;
}

.jsgrid th.id,
.jsgrid td.id {
  min-width: 70px;
  max-width: 70px;
}

.jsgrid th.seed,
.jsgrid td.seed {
  min-width: 300px;
  max-width: 300px;
}

.jsgrid th.default,
.jsgrid td.default {
  min-width: 150px;
  max-width: 150px;
}

.jsgrid th.description,
.jsgrid td.description {
  min-width: 300px;
  max-width: 300px;
}

.jsgrid th.action,
.jsgrid td.action {
  min-width: 80px;
  max-width: 80px;
}

.jsgrid-table {
  min-width: 100%;
  width: auto;
}

.card-header .jsgrid-button {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-image: url(./assets/images/js-grid.png);
  background-size: 24px 352px;
}

.card-header .jsgrid-insert-mode-button {
  background-position: -2px -160px;
  width: 25px;
  height: 25px;
}

.card-header .jsgrid-insert-mode-button.create {
  background-position: 3px 8px;
}

.page-wrapper.compact-wrapper .page-body-wrapper .page-body {
  /* margin-top: 10px; */
  padding: 0 15px;
  padding-top: 10px;
  margin-left: 0 !important;
}

.jsgrid-grid-body {
  border: 1px solid #e9e9e9;
  border-top: none;

  .jsgrid-cell {
    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .jsgrid-alt-row:first-child .jsgrid-cell {
    border-top: none;
  }

  .jsgrid-row:first-child .jsgrid-cell {
    border-top: none;
  }
}

.jsgrid-grid-header {
  border: 1px solid #e9e9e9;
  background: #f9f9f9;
}

.jsgrid-header-row {
  .jsgrid-align-left {
    text-align: center;
  }

  .jsgrid-align-right {
    text-align: center;
  }

  .jsgrid-header-sort {
    background: #c4e2ff;
  }

  > .jsgrid-header-cell {
    border: 1px solid #e9e9e9;
    border-top: 0;
    background: #f9f9f9;
    border-bottom: 0;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.jsgrid-header-scrollbar {
  scrollbar-arrow-color: #f1f1f1;
  scrollbar-base-color: #f1f1f1;
  scrollbar-3dlight-color: #f1f1f1;
  scrollbar-highlight-color: #f1f1f1;
  scrollbar-track-color: #f1f1f1;
  scrollbar-shadow-color: #f1f1f1;
  scrollbar-dark-shadow-color: #f1f1f1;
}

.jsgrid-header-scrollbar::-webkit-scrollbar {
  visibility: hidden;
}

.jsgrid-header-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.jsgrid-cell {
  border: 1px solid #f3f3f3;
}

.jsgrid-invalid {
  input {
    background: #ffe3e5;
    border: 1px solid #ff808a;
  }

  select {
    background: #ffe3e5;
    border: 1px solid #ff808a;
  }

  textarea {
    background: #ffe3e5;
    border: 1px solid #ff808a;
  }
}

.jsgrid-pager-current-page {
  font-weight: 700;
}

.jsgrid-button {
  &:hover {
    opacity: 0.5;
    transition: opacity 200ms linear;
  }

  + .jsgrid-button {
    margin-left: 5px;
  }
}

.jsgrid {
  .jsgrid-button {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background-image: url(./assets/images/js-grid.png);
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .jsgrid-mode-button {
    width: 24px;
    height: 24px;
  }
}

@media only screen and(-webkit-min-device-pixel-ratio:2),
  only screen and(min-device-pixel-ratio:2) {
  .jsgrid .jsgrid-button {
    background-image: url(./assets/images/js-grid.png);
    background-size: 24px 352px;
  }
}

.jsgrid-mode-on-button {
  opacity: 0.5;
}

.jsgrid-cancel-edit-button {
  background-position: 0 0;
  width: 16px;
  height: 16px;
}

.jsgrid-clear-filter-button {
  background-position: 0 -40px;
  width: 16px;
  height: 16px;
}

.jsgrid-delete-button {
  background-position: 0 -80px;
  width: 16px;
  height: 16px;
}

.jsgrid-edit-button {
  background-position: 0 -120px;
  width: 16px;
  height: 16px;
}

.jsgrid-insert-mode-button {
  background-position: 0 -160px;
  width: 24px;
  height: 24px;
}

.jsgrid-insert-button {
  background-position: 0 -208px;
  width: 16px;
  height: 16px;
}

.jsgrid-search-mode-button {
  background-position: 0 -248px;
  width: 24px;
  height: 24px;
}

.jsgrid-search-button {
  background-position: 0 -296px;
  width: 16px;
  height: 16px;
}

.jsgrid-update-button {
  background-position: 0 -336px;
  width: 16px;
  height: 16px;
}

.jsgrid-load-shader {
  background: #ddd;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.jsgrid-load-panel {
  width: 15em;
  height: 5em;
  background: #fff;
  border: 1px solid #e9e9e9;
  padding-top: 3em;
  text-align: center;

  &:before {
    content: ' ';
    position: absolute;
    top: 0.5em;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border: 2px solid #009a67;
    border-right-color: transparent;
    border-radius: 50%;
    animation: indicator 1s linear infinite;
  }
}

@-webkit-keyframes indicator {
  from {
  }

  50% {
  }

  to {
  }
}

@keyframes indicator {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.jsgrid-edit-row > .jsgrid-cell {
  border: 1px solid #e9e9e9;
  background: #fdffe3;
}

.jsgrid-filter-row > .jsgrid-cell {
  border: 1px solid #e9e9e9;
  border-bottom: 0;
  background: #f9f9f9;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.jsgrid-insert-row > .jsgrid-cell {
  border: 1px solid #e9e9e9;
  border-bottom: 0;
  background: #e3ffe5;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.jsgrid-header-sortable:hover {
  cursor: pointer;
  background: #f9f9f9;
}

.jsgrid-header-sort:before {
  content: ' ';
  display: block;
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: 8px;
  margin-right: 9px;
}

.jsgrid-header-sort-asc:before {
  border-width: 0 5px 5px;
  border-color: transparent transparent #ffc412;
}

.jsgrid-header-sort-desc:before {
  border-width: 5px 5px 0;
  border-color: #ffc412 transparent transparent;
}

.jsgrid-row > .jsgrid-cell {
  background: #fff;
}

.jsgrid-alt-row > .jsgrid-cell {
  background: #f9f9f9;
}

.jsgrid-selected-row > .jsgrid-cell {
  background: #c4e2ff;
  border-color: #c4e2ff;
}

.jsgrid-pager-nav-inactive-button a {
  color: #d3d3d3;
}

.jsgrid .jsgrid-button {
  width: 20px;
  height: 20px;
}

.jsgrid .jsgrid-edit-button {
  background-position: -2px -122px;
  width: 22px;
  height: 22px;
}

.jsgrid .jsgrid-delete-button {
  background-position: 0 -78px;
  width: 22px;
  height: 22px;
}

h5 {
  font-size: 15px;
  font-weight: 600;
}

@media only screen and (max-width: 991px) {
  h5 {
    font-size: 15px;
  }
}

.card {
  margin-bottom: 30px;
}

a {
  cursor: pointer;
}

.all-tokens-btn {
  display: flex;
  padding: 0.5rem 1rem;
  background: antiquewhite;
  font-weight: bold;
  border-radius: 1rem;
}

.swap_percent_input {
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 1rem;
}

.swap_percent_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.swap_percent_btn {
  display: flex;
  padding: 0.5rem 1rem;
  background: antiquewhite;
  font-weight: bold;
  border-radius: 1rem;
}

.tw-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: hsl(var(--twc-bg4) / 0.25);
  background-color: hsl(
    var(--twc-bg4) / var(--twc-bg4-opacity, var(--tw-bg-opacity))
  );
  --tw-bg-opacity: 0.25;
  --tw-backdrop-blur: blur(2px);
  -webkit-backdrop-filter: blur(2px) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: blur(2px) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.tw-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-backgroundPrimary {
  background-color: #ffffff;
}

.form-change {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border-top: 1px solid; */
}

.form-change-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  padding: 0.25rem 0;
}

.form-change-input input {
  min-height: 40px;
  padding: 0.125rem 0.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
  width: 100%;
}

.form-change-input input[type='checkbox'] {
  width: auto;
}

.form-change-input textarea {
  min-height: 60px;
  padding: 0.125rem 0.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
  width: 100%;
}

.form-change-input label {
  font-weight: 600;
  font-size: 16px;
}

.form-change-input:not(:last-child) {
  border-bottom: 1px solid;
}

.swap_percent_btn:disabled {
  color: transparent;
}

.swap_percent_btn:disabled p {
  display: none;
}

.swap_percent_btn:disabled::before {
  content: '';
  width: 10px;
  height: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

.jsgrid-cell input[type='checkbox'] {
}

@tailwind base;
@tailwind components;
@tailwind utilities;
